@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #466188;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 138px;
  height: 47px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-left: 31.5px;
  margin-right: 31.5px;
}

.header__button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.header__button-enter {
  background-color: #82A1CF;
  margin-right: 20px;
}

.header__button-registration {
  background-color: #76C1A2;
}

.container {
  max-width: 1274px;
  margin: 0 auto;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#76C1A2), to(#82A1CF));
  background: linear-gradient(180deg, #76C1A2 0%, #82A1CF 100%);
}

.main__wrapper {
  padding-top: 30px;
  padding-bottom: 100px;
}

.main__slider {
  width: 100%;
  position: relative;
}

.main__slider-item {
  list-style-type: none;
}

.main__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main__slider-item, .main__slider-img {
  -webkit-animation-name: slider;
          animation-name: slider;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.main__slider-arrowLeft, .main__slider-arrowRight {
  cursor: pointer;
  position: absolute;
  top: 319px;
  padding: 70px 32px;
  color: #82A1CF;
  background: rgba(83, 106, 95, 0.53);
  font-size: 23px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.main__slider-arrowRight {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.main__slider-arrowLeft {
  border-radius: 0px 5px 5px 0px;
}

.main__slider-arrowLeft:hover, .main__slider-arrowRight:hover {
  background: rgba(67, 83, 75, 0.53);
}

.main__slider-dots {
  bottom: 25px;
  left: 36.8%;
  position: absolute;
}

.main__slider-itemDots {
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin: 0 11.5px;
  background-color: #82A1CF;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  vertical-align: middle;
}

.main__slider .active, .main__slider-itemDots:active {
  width: 15px;
  height: 15px;
  background-color: #466188;
}

.main__slider-itemDots:hover {
  background-color: #466188;
}

@-webkit-keyframes slider {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes slider {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */