@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

$colorWhite: #ffffff;
$colorBlue: #466188;
$colorLightBlue: #82A1CF;
$colorLightGreen: #76C1A2;
$colorGreen: #5A8D79;
$colorTextGreen: #76C1A2;
$fontFamMontserrat: 'Montserrat', sans-serif;
$fontFamRoboto: 'Roboto', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



// ------- HEADER -------

.header{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $colorBlue;
    &__wrapper{    
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    &__logo{
        width: 138px;
        height: 47px;
    }
    &__list{
        display: flex;
    }
    &__item{
        list-style-type: none;
    }
    &__link{
        text-decoration: none;
        font-family: $fontFamRoboto;
        font-size: 16px;
        color: #ffffff;
        margin-left: 31.5px;
        margin-right: 31.5px;
    }
    &__button{
        font-family: $fontFamRoboto;
        font-size: 16px;
        padding: 8px 20px;
        border-radius: 6px;
        border: none;
        color: $colorWhite;
        cursor: pointer;
        &-enter{
            background-color: $colorLightBlue;
            margin-right: 20px;
        }
        &-registration{
            background-color: $colorLightGreen;
            
        }
    }
}

.container{
    max-width: 1266px;
    padding-right: 4px;
    padding-left: 4px;
    margin: 0 auto;
}



// ------- MAIN -------
.slider__show{
    position: relative;
    padding-left: 75px;
}
.sliderPhoto{
    object-fit: cover;
    width: 1100px;
    height: 784px;
    border: none ;
    box-shadow: none;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(90, 90, 90, 0.459);
}

.sliderSpicok-item{
    list-style-type: none;
}

.sliderDots {
    text-align: center;
    margin-top: 15px;
}

.strelkaLeft, .strelkaRight{
    cursor: pointer;
    position: absolute;
    top: 46%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(128, 128, 128, 0.637);
}

.strelkaRight{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.strelkaLeft:hover{
    background-color: rgba(73, 73, 73, 0.788);
}

.strelkaRight:hover{
    background-color: rgba(73, 73, 73, 0.788);
}

.itemDots{
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 3px 2px rgba(90, 90, 90, 0.459);
}

.sliderText{
    position: absolute;
    color: white;
    padding: 15px;
    border-radius: 10px 0px 10px 0px;
    background: #141e30e7;
    bottom: 93.4%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.header-test_link__photo{
    text-decoration: none;
}

.active,
.itemDots:hover {
    background-color: rgb(117, 117, 117);
    box-shadow: 0 0 3px 2px rgba(90, 90, 90, 0.459);
}

.sliderSpicok-item .sliderPhoto, .sliderText{
    animation-name: slider;
    animation-duration: 3s;
}

@keyframes slider {
    from {
        opacity: 0.7
    }
    to {
        opacity: 1
    }
}
