.header{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $colorBlue;
    &__wrapper{    
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    &__list{
        display: flex;
    }
    &__item{
        list-style-type: none;
    }
    &__link{
        text-decoration: none;
        font-family: $fontFamRoboto;
        font-size: 16px;
        color: #ffffff;
        margin-left: 31.5px;
        margin-right: 31.5px;
        transition: 0.5s ease;
        &:hover{
            color: $colorLightGreen;
        }
        &:active{
            color: $colorLightGreen;
        }
    }
    &__button{
        font-family: $fontFamRoboto;
        font-size: 16px;
        padding: 8px 20px;
        border-radius: 6px;
        border: none;
        color: $colorWhite;
        cursor: pointer;
        transition: 0.25s ease;
        & a{
            text-decoration: none;
            color: white;
        }
        &-center{
          margin-left: 50%;
        }
        &-blue{
          background-color: $colorBlue;
          &:hover{
            background-color: rgb(31, 36, 66);
          }
        }
        &-enter{
            background-color: $colorLightBlue;
            margin-right: 20px;
            &:hover{
                background-color: $colorLightGreen;
            }
            &:active{
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2) inset;
            }
        }
        &-registration{
            background-color: $colorLightGreen;
            &:hover{
                background-color: $colorLightBlue;
            }
            &:active{
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2) inset;
            }
        }
        &-exit{
          background-color: #DE6077;
          transition: 0.5s ease;
          &:hover{
            background-color: #D44660;
          }
        }
        &-persacc{
          transition: 0.5s ease;
          margin-right: 20px;
          &:hover{
            background-color: #3FCC91;
          }
        }
    }
}

.modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    opacity: 0; 
    transition: opacity 200ms ease-in; 
    pointer-events: none;
    margin: 0;
    padding: 0;
    z-index: 5;
  }
  
  .modal:target {
    opacity: 1; 
    pointer-events: auto; 
    overflow-y: auto; 
  }
  
  .modal-dialog {
    position: relative;
    padding-top: 261px;
    width: auto;
  }
  @media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; 
  }
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $colorLightGreen;
    background-clip: padding-box;
    border-radius: 30px;
    padding: 40px 56px;
    outline: 0;
  }

  .modal-content--reg {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $colorLightGreen;
    background-clip: padding-box;
    border-radius: 30px;
    padding: 40px 32px;
    outline: 0;
  }
  
  .modal-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 45px;
  }
  .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 45px;
    font-weight: 400;
    font-size: 24px;
    font-family: $fontFamMontserrat;
    color: white;
  }
  
  #close {
    float: right;
    width: 18px;
    height: 18px;
    fill: $colorBlue;
    text-decoration: none;
    transition: 0.5s;
  }
  
  #close:focus, #close:hover {
    fill: rgb(67, 67, 107);
    cursor: pointer;
  }
  
  .modal-body {
    position: relative;
    overflow: auto;
    overflow:visible
  }
  
  .header-link{
    text-decoration: none;
    background-color: #273a5ce7;
    border-radius: 5px;
    padding: 15px;
    color: white;
    transition: 2s ease;
  }
  
  .header-link:hover{
    background-color: rgb(255, 255, 255); 
    color: #292b2c;
  }
  
  .modalinputs{
      margin-bottom: 30px;
  }

  .modalinp{
      width: 100%;
      padding-top: 19px;
      padding-bottom: 19px;
      padding-left: 25px;
      background-color: $colorBlue;
      border-radius: 10px;
      border: none;
      box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
      color: white;
      outline: none;
      margin-bottom: 35px;
      &::placeholder{
          color: white;
          font-size: 14px;
          font-family: $fontFamMontserrat;
      }
      &:focus{
          color: white;
      }
  }

  .modalinplast{
      margin-bottom: 0px;
  }

  .input-email{
      margin-bottom: 35px;
  }
  
  .checklabel{
    color: white;
    font-size: 14px;
    font-family: $fontFamMontserrat;
    margin-left: 10px;
  }

  .modal-inp{
      margin-bottom: 35px;
  }

  .modal-text{
    font-family: $fontFamMontserrat;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 15px;
    & a{
        margin: 0;
        padding: 0;
        color: $colorBlue;
        text-decoration: none;
        transition: 0.5s;
        &:hover{
            color: #273a5ce7;
        }
    }
  }

  .modal-btn{
      width: 100%;
      border: none;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $colorBlue;
      font-family: 'Montserrat';
      font-size: 20px;
      color: #FFFFFF;
      border-radius: 10px;
      transition: 0.5s;
      cursor: pointer;
      &:hover{
        background-color: #273a5ce7;
      }
  }

  .modal-title--reg{
      margin: 0px;
      margin-left: 15px;
  }

.hamburger-menu{
    display: none;
}




