@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

$colorWhite: #ffffff;
$colorBlue: #466188;
$colorLightBlue: #82A1CF;
$colorLightGreen: #76C1A2;
$colorGreen: #5A8D79;
$colorTextGreen: #76C1A2;
$fontFamMontserrat: 'Montserrat', sans-serif;
$fontFamRoboto: 'Roboto', sans-serif;
$lineMar: 200%;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1274px;
    margin: 0 auto;
}

// ------- HEADER -------


// ------- MAIN -------


// ------- FOOTER -------


@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";
@import "_lectures.scss";
@import "_types-of-animals.scss";
@import "_animals.scss";



@media all and(max-width: 1310px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media all and(max-width: 1110px){
    .header__link{
        margin-right: 5px;
    }
    
}